---
title: This page can't be found.
permalink: /404.html
layout: post
---


<div class="container">
  <p class="mb-5" style="text-align: center;">But while you're here, take a look at what I've been working on recently:</p>
</div>

</div>

<div class="container" style="z-index: 100;position: relative;">
  <div class="row">

      {% assign cn-projects = site.projects limit:4  | sort: 'date' | reverse %}

      {% for post in cn-projects limit:4  | sort: 'date' | reverse %}
          {% include ui/indexing/imgcard.html %}
      {% endfor %}
  </div>
  </div>
</div>