@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");


$primaryColour: #2768FF;

/** Fonts **/
@font-face {
    font-family: ParagraphFont;
    src: url(/assets/fonts/Metropolis-Medium.woff);
  }

  @font-face {
    font-family: HeadingFont;
    src: url(/assets/fonts/Metropolis-ExtraBold.woff);
  }

  @font-face {
    font-family: BoldFont;
    src: url(/assets/fonts/Metropolis-Bold.woff);
  }

  @font-face {
    font-family: BlackFont;
    src: url(/assets/fonts/Metropolis-Black.woff);
  }

body {
    font-family: ParagraphFont;
}

h1, h2, h3, h4, h5 {
    font-family: BoldFont;
}

a {
    color: #2768FF;
}
a:hover {
    color: #122f74;
    .bi-arrow-right {
      transition: 0.3s ease-in-out;
      padding-left: 5px;
    }
}

#header {
    text-align: center;
    height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    a.clarknarvasheader {
        font-size: 150%;
        text-decoration: none;
        color: black;
        font-family: 'BoldFont';
    }

    a.clarknarvasheader:hover {

        color: $primaryColour !important;
    }
}


.imgcard {
  
  font-size: 120%;
  

  .img-imgcard {
    transition: 0.5 ease-in-out;
    background-image: url('/assets/branding/placeholder.png');
    background-size: 100%;
    border-radius: 10px;
    background-position: center;
    z-index: -50;
  }

  
  .content-imgcard {
    height: auto;
    padding-top: 20px;
    width: 80%;
    transition: 0.3s ease-in-out;
    background-color: white;
    margin-top: -50px;
    padding-right: 20px;
    z-index: 40 !important;
    
    span {
      display: block;
    }
    .card-title {
      font-size: 140%;
      font-family: BoldFont;
    }

    .card-miscinfo {
      font-size: 80%;
      color: rgb(177, 177, 177);
    }

    .card-CTA {
      
      font-size: 80%;
      padding-top: 15px;
      color: $primaryColour;
      text-decoration-line: underline;
      .bi-arrow-right {
        transition: 0.3s ease-in-out;
      }
      transition: 0.3s ease-in-out;
    }

    transition: 0.3s ease-in-out !important;
  }
  

}

.imgcard:hover {
  .content-imgcard {
    transform:translateY(-20px);
  }
}

.img-imgcard:hover {
  transition: 0.5s ease-in-out;
  background-size: 120%;

  .card-CTA {
    text-decoration: none;
    
  }



}



.tac {
  text-align: center;
}

.container-narrow {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

}

.img-dims {
  img {
    width: 100%;
    height: auto;
  }
}