@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://use.typekit.net/meh5uoe.css");
.bg-primary {
  background-color: #DE3C4B !important;
}

.bg-secondary {
  background-color: #D7C0D0 !important;
}

.bg-tertiary {
  background-color: #EFF0D1 !important;
}

.card {
  border-radius: none !important;
  border: none;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.thinner {
  font-weight: 400;
}

.special {
  font-family: "desire-pro", serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

a {
  color: #DE3C4B;
}
a .bi-arrow-right {
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #9a2632;
}
a:hover .bi-arrow-right {
  transition: 0.3s ease-in-out;
  padding-left: 5px;
}

#header {
  text-align: center;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#header a.clarknarvasheader {
  font-size: 150%;
  text-decoration: none;
  color: black;
  font-family: "Instrument Sans", sans-serif;
}
#header a.clarknarvasheader:hover {
  color: #DE3C4B !important;
}

.imgcard {
  transition: 0.3s ease-in-out;
  font-size: 120%;
  transform: scale(0.95);
}
.imgcard .img-imgcard {
  background-image: url("/assets/branding/placeholder.webp");
  background-size: 100%;
  background-position: center;
  z-index: -1;
}
.imgcard .content-imgcard {
  height: auto;
  padding-top: 20px;
  width: 80%;
  background-color: white;
  margin-top: -50px;
  padding-right: 20px;
  z-index: 500 !important;
  position: relative;
  transition: 0.3s ease-in-out !important;
}
.imgcard .content-imgcard span {
  display: block;
}
.imgcard .content-imgcard .card-title {
  font-size: 140%;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  color: black !important;
}
.imgcard .content-imgcard .card-miscinfo {
  font-size: 80%;
  color: rgb(177, 177, 177);
}
.imgcard .content-imgcard .card-CTA {
  font-size: 80%;
  padding-top: 15px;
  color: #DE3C4B;
  text-decoration-line: underline;
  transition: 0.3s ease-in-out;
}
.imgcard .content-imgcard .card-CTA .bi-arrow-right {
  transition: 0.3s ease-in-out;
}

.imgcard:hover {
  transform: scale(1);
}
.imgcard:hover .content-imgcard {
  transform: translateY(-20px);
}

.imgcard:active {
  transition: 0.5s ease-in-out;
  transform: scale(0.9);
}

.tac {
  text-align: center;
}

.container-narrow {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.img-dims img {
  width: 100%;
  height: auto;
}



.img-dims h1, .img-dims h2, .img-dims h3, .img-dims h4, .img-dims h5 {
  margin-top: 50px;
}

.showcase-header-text {
  height: 60vh;
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
}
.showcase-header-text .container-narrow {
  margin-top: auto;
  margin-bottom: auto;
}
.showcase-header-text .container-narrow .name-role {
  font-size: 2em;
  font-weight: 500;
}
.showcase-header-text .container-narrow h1 {
  font-size: 7.5em;
  line-height: 1em;
}
.showcase-header-text .container-narrow p {
  font-size: 1.5em;
}

.btn {
  transition: linear 0.2s;
  font-weight: 700 !important;
  border-radius: 0 !important;
}

.btn-lg {
  border-radius: 0 !important;
}

.dark-card {
  background-color: #3E404F;
}

.content {
  margin-top: auto;
  margin-bottom: auto;
}

.content-container {
  display: grid;
  height: 100%;
  width: 100%;
}

.home-slide-topbar {
  margin-bottom: -67px;
}

.home-slide-topbar-content {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  color: white;
}
.home-slide-topbar-content h2 {
  opacity: 0.5;
  white-space: nowrap !important;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  animation: slidinganimation 35s infinite linear;
}

#home-slide-1 {
  min-height: 100vh;
}
#home-slide-1 .container-fluid {
  background: url("/img/newbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: grid;
}
#home-slide-1 .container-fluid .content {
  text-align: center;
}
#home-slide-1 .container-fluid .content #newspaper-box {
  text-align: left;
  border: 2px solid black;
  padding: 20px;
  max-width: 550px;
  max-height: 20vh;
  margin-left: auto;
  margin-right: auto;
}
#home-slide-1 .container-fluid .content .thinner {
  font-size: 1.5em;
}
#home-slide-1 .container-fluid .content .special {
  font-size: 3em;
}

.home-slide {
  min-height: 60vh;
}
.home-slide .col-md-6 .content-container {
  min-height: 60vh;
  display: grid;
}
.home-slide .col-md-6 .content-container .content {
  margin-top: auto;
  margin-bottom: auto;
}
.home-slide .col-md-6 .content-container .content h2 {
  font-size: 5em;
}
.home-slide .col-md-6 .content-container .content p {
  font-size: 1.5em;
}
.home-slide .home-slide-CTA-side {
  background-color: rgba(0, 0, 0, 0.103);
}

@keyframes slidinganimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.bg-primary {
  color: white;
}
.bg-primary .home-slide-topbar .home-slide-topbar-content h2 {
  color: white !important;
}/*# sourceMappingURL=homepage.css.map */