
@import "../style.scss";




.content {
    margin-top: auto;
    margin-bottom: auto;
}

.content-container {
    display: grid;
    height: 100%;
    width: 100%;
}

.home-slide-topbar {
    margin-bottom: -60px;
}

.home-slide-topbar-content {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    color: white;
    
    h2 {
        white-space: nowrap !important;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 50px;
        animation: slidinganimation 20s infinite linear;
    }
}
#home-slide-1 {
    min-height: 100vh;

    .container-fluid {
        background: url("/img/newbg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        display: grid;
        .content {
            
            text-align: center;
            
                #newspaper-box {
                    text-align: left;
                    border: 2px solid black;
                    padding: 20px;
                    max-width: 550px;
                    max-height: 20vh;
                    margin-left: auto;
                    margin-right: auto;
                }
        
                .thinner {
                    font-size: 1.5em;
                }
            
                .special {
                    font-size: 3em;
                }
            }
    }



}


.home-slide {
    min-height: 60vh;

    
    .col-md-6 {
        
        .content-container {
            min-height: 60vh;
            display: grid;
            
            .content {
                margin-top: auto;
                margin-bottom: auto;
                h2 {
                    font-size: 6em;
                }

                p {
                    font-size: 1.5em;
                }
            }
        }


    }

    
    .home-slide-CTA-side {
        background-color: rgba(0, 0, 0, 0.103);
    }


}



@keyframes slidinganimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }




.text-light {
    .home-slide-topbar {
        .home-slide-topbar-content {
            color: white !important;
        }
    }
}