<div class="col-md-6 px-4" >

    <div class="imgcard" style="cursor: pointer;" onClick="location.href='{{post.url}}'">
        <div class="img-imgcard ratio ratio-16x9" >
        </div>

        <div class="content-imgcard">
            <span class="card-title">{{post.title}}</span>
            <span class="card-description">{{post.description}}</span>
            <span class="card-miscinfo">{{post.date | date: "%b %Y"}} // {{post.skill}} {% if post.role %} {{post.role}} {%endif%}</span>
            <span class="card-CTA">Learn more about project <i class="bi bi-arrow-right"></i></span> 
        </div>
    </div>

</div>