<div class="container" style="margin-top: 85px;">
<div class="row">
    <div class="col-md-6" style=" text-align: center;">
        <img src="/assets/branding/mystory.png" style="height: auto; width: 400px;">
    </div>

    <div class="col-md-6" style="height: 300px;display: grid;">
        <div style="margin-top: auto; margin-bottom: auto;">
        PROFILE
        <h1>My Story and how I will shape yours</h1>
        <a class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
</div>