<div class="home-slide {{include.classes}}">
    <div class="home-slide-topbar">
        <div class="home-slide-topbar-content">
            <h2>Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
            <h2 aria-hidden="true">Creating an impact for {{include.impact}}</h2>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-3">
            <div class="content-container container p-3">
                <div class="content" >
                    <h2 class="special">{{include.title}}</h2>
                    <p>{{include.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-3 home-slide-CTA-side">

            <div class="content-container" >
                <div class="col-md-6 px-4 bg=danger mt-auto mb-auto" style="margin-left: auto; margin-right: auto;transform: scale(1.1);">
                    <div class="imgcard" style="cursor: pointer;" onClick="location.href='{{include.url}}'">
                        <div class="img-imgcard ratio ratio-16x9 bg-danger" style="z-index: 1 !important; background-image: url('{{include.img}}');">
                        </div>
                
                        <div class="content-imgcard p-3" style="z-index: 5 !important;">
                            <span class="card-title">{{include.title}}</span>
                            <span class="card-CTA">Learn more about project <i class="bi bi-arrow-right"></i></span> 
                        </div>
                    </div>
            </div>
            
            </div>
        </div>
    </div>
</div>
</div>
