<div class="call-to-action p-5 bg-dark text-light" style="text-align: center;">
    <div class="container-narrow">
        <h2 class="pb-2 special" style="font-size: 4em;">{{include.text}}</h2>


        <div class="row mb-3">
            <div class="col-md-4 mb-3">

                <div class="card">

                    <div class="card-body text-light dark-card">
                        <h3 class="card-title">Video</h2>
                        <p class="card-text">£18-£30/hr*</p>
                    </div>

                </div>
                

            </div>

            <div class="col-md-4 mb-3">
                <div class="card">

                    <div class="card-body text-light dark-card">
                        <h3 class="card-title">Graphics</h2>
                        <p class="card-text">£18-25/hr*</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">

                    <div class="card-body text-light dark-card">
                        <h3 class="card-title">Website</h2>
                        <p class="card-text">£20-40/hr*</p>
                    </div>

                </div>
            </div>


        </div>

        <a class="btn btn-lg btn-light mr-3 mb-4" href="mailto:clark@narvas.co.uk">👋 Get in touch</a>
        <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/assets/CN CV.pdf">View CV</a><br>
        <p><b>*Non-profit organisation or political/cause group?</b> These rates can be negotiated. </p>
    </div>
</div>