
<style>
    .tripetto-1avggd1 iframe {
        overflow: hidden;
    }
</style>

<div class="call-to-action p-5 bg-tertiary mt-5" id="calltoaction" style="text-align: center;">
    <div class="container-narrow">

        <script>
            const myDiv = document.getElementById('tripetto-1e3jeoi');
            const iframe = myDiv.querySelector('iframe');

            iframe.onload = function() {
                const doc = iframe.contentDocument || iframe.contentWindow.document;
                doc.addEventListener('scroll', function(e) {
                e.preventDefault();
                }, { passive: false });
            };
        </script>

        <div id="tripetto-1e3jeoi"></div>
        <script src="https://cdn.jsdelivr.net/npm/@tripetto/runner"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tripetto/runner-autoscroll"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tripetto/studio"></script>
        <script>
        TripettoStudio.form({
            runner: TripettoAutoscroll,
            token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiNUZHT2xhNUZvZFlmeGtiQWI2SHh2YWc2WEZvSGFHNVZUUmt1MENUY2dYWT0iLCJkZWZpbml0aW9uIjoiVEdWUGVBMVE1aHBXS3Z5a2sxYzFtUThYdXpQUnJ3RHZUd3lkeWxnRVVoZz0iLCJ0eXBlIjoiY29sbGVjdCJ9.Uf5LhlpDPEirsVn6a2jWhS1GGCgC-tfSSKuq5oqetAU",
            element: "tripetto-1e3jeoi"
        });
        </script>



            <a href="mailto:clark@narvas.co.uk"><i class="bi bi-box-arrow-up-right"></i> I want to get in touch via email</a>
    </div>
</div>

