<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@tripetto/runner"></script>
<script src="https://cdn.jsdelivr.net/npm/@tripetto/runner-autoscroll"></script>
<script src="https://cdn.jsdelivr.net/npm/@tripetto/studio"></script>
<script>
TripettoStudio.form({
    runner: TripettoAutoscroll,
    token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiNUZHT2xhNUZvZFlmeGtiQWI2SHh2YWc2WEZvSGFHNVZUUmt1MENUY2dYWT0iLCJkZWZpbml0aW9uIjoiVEdWUGVBMVE1aHBXS3Z5a2sxYzFtUThYdXpQUnJ3RHZUd3lkeWxnRVVoZz0iLCJ0eXBlIjoiY29sbGVjdCJ9.Uf5LhlpDPEirsVn6a2jWhS1GGCgC-tfSSKuq5oqetAU"
});
</script>
</body>
</html>