{% include core/top.html %}
{% include coreui/header.html %}



<div class="container">
    HI, I'M CLARK NARVAS
    <h1 class="mb-5 mt-2">I code/produce/design many types of digital media to create lasting, positive change.</h1>
    <div class="row justify-content-center gy-5" style="">


        {% for post in site.projects limit:4%}
            {% include ui/indexing/imgcard.html %}
        {% endfor %}
    </div>


    <div class="tac mt-5">
    <a href="#" style="font-size: 150%;">See more of my work <i class="bi bi-arrow-right"></i></a>
    </div>
</div>


{% include ui/homepage/mystory.html %}
{% include ui/homepage/skills.html %}
{% include ui/homepage/values.html %}


{% include components/mail.html %}
{% include core/bottom.html %}