---
---

{% include core/top.html %}
{% include coreui/header.html %}

<div  id="home-slide-1">
    <div class="container-fluid">
        <div class="content">
            <h1><div class="thinner">The mission</div> <div class="special">Create an impact</div></h1>

            <div id="newspaper-box">
                <h2>Impact </h2>
                <p>To impact on a situation, process, or person means to affect them.            </p>
            </div>
        </div>
    </div>
</div>


{% include components/specialised/homeslide-component-reverse.html impact="Sheffield" title="Sheffield Labour" description="I've built a brand kit that serves campaigns, councillors and individuals across the city, and have led digital campaigns that help win elections. " classes="bg-primary text-light" %}
{% include components/specialised/homeslide-component.html impact="people & businesses" title="Sheffield City Council Skills & Opportunity Service" description="Helping jobseekers, trainees and businesses navigate the large amount of Opportunity Sheffield programs by creating engaging marketing assets" classes="bg-secondary" %}
{% include components/specialised/homeslide-component.html impact="education" title="Luna Task Mangement Application" description="A conceptual task management application that motivates students using a virtual cat" img="https://clarknarvas.com/assets/blogposts/my-2022/IMG_9791.png" %}




{% include components/calltoaction.html text="Let's create an impact together." %}
{% include core/bottom.html %}