---
---

{% include core/top.html %}
{% include coreui/header.html %}

<div  id="home-slide-1">
    <div class="container-fluid">
        <div class="content">
            <h1><div class="thinner">The mission</div> <div class="special">Create an impact</div></h1>

            <div id="newspaper-box">
                <h2>Impact </h2>
                <p>To impact on a situation, process, or person means to affect them.            </p>
            </div>
        </div>
    </div>
</div>


{% include components/specialised/homeslide-component.html impact="education" title="Open Up The Cloud" description="Test" classes="bg-primary text-light" img="https://clarknarvas.com/assets/blogposts/my-2022/IMG_9791.png" %}
{% include components/specialised/homeslide-component-reverse.html impact="hope" title="Yes"  classes="bg-secondary" %}
{% include components/specialised/homeslide-component.html impact="hope" title="Yes"  classes="bg-tertiary" %}





{% include components/mail.html %}
{% include core/bottom.html %}