{% include core/top.html %}
{% include coreui/header.html %}


<div style="margin-top: 100px;"></div>
<div class="container">

    <div class="post-head">
        <h1 class="mt-5 special" style="font-size: 5em;text-align: center;">{{page.title}}</h1>
        <span class="mb-5" style="font-size: 140%;text-align: center;display: block;">{{page.description}}</span>
    <div>

    </div>

    <div class="container-narrow img-dims">
    
    {{ content }}
</div>

    
</div>
</div>


{% include coreui/footer.html %}
{% include core/bottom.html %}